---
layout: default
---

{{ content }}

<div>

{% assign tag_printed = false %}

{% assign tags = site.tags %}

{% if tags.size > 0 %}

  {% for tag in tags %}
    
    {% assign posts = tag[1] | where_exp: "post", "post.category == page.category" %}

    
    {% if posts.size > 0 %}
      {% if tag_printed == false %}
        <h1>Tags</h1>
        {% assign tag_printed = true %}
      {% endif %}
      <h3> {{ tag[0] }} </h3>
    {% endif %}
    
    <ul>
      {% for post in posts %}
      <li><a href="{{ post.url }}">{{ post.title }} <small>{{post.date | date: '%Y-%m-%d %H:%M:%S'}} {{ post.excerpt }}</small></a></li>
      {% endfor %}
    </ul>
  {% endfor %}

{% endif %}

</div>